.contact-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(110, 172, 29, 0.1);
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #a22f2f;
  }
  
  .contact-form button {
    background-color: #09749f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #9ab3ba;
  }
  
